/****** Layout  ******/
@import 'vars', 'mixins';
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 $padding-2;
    @include flex;
    @include flex-wrap;

    @media #{$sm-min} {
        max-width: 540px;
    }

    @media #{$md-min} {
        max-width: 720px;
        padding: 0;
    }

    @media #{$lg-min} {
        max-width: 960px;
    }

    @media #{$xl-min} {
        max-width: 1140px;
    }
}

.w--100,
.w--50,
.w--33,
.w--25,
.w--thin {
    width: 100%;
    margin-bottom: $margin-2;
}

.w--50 {
    @media #{$md-min} {
        width: 50%;

        &:nth-child(odd) {
            padding-right: $padding-3;
        }

        &:nth-child(even) {
            padding-right: $padding-3;
        }
    }
}

.w--33 {
    @media #{$md-min} {
        width: 33.33%;
    }
}

.w--25 {
    @media #{$md-min} {
        width: 25%;
    }
}

.w--thin {
    @media #{$md-min} {
        width: 60%;
    }
}

.w--50--sm {
    @media #{$sm-max} {
        width: 50%;
        word-break: break-all;

        &:nth-child(odd) {
            padding-right: $padding-1;
        }

        &:nth-child(even) {
            padding-left: $padding-1;
        }
    }
}

.h--100 {
    height: 100%;
}

.section {
    padding: $padding-4 0;
}

.flex {
    @include flex;
}

.flex--wrap {
    @include flex-wrap;
}

.justify--center {
    @include justify-center;
}

.justify--space-between {
    @include justify-space-between;
}

.vertical--center {
    @include align-center;
}
