/****** Variables  ******/

/* Breakpoints */
$xs-max: '(max-width: 350px)';
$sm-min: '(min-width: 576px)';
$sm-max: '(max-width: 767px)';
$md-min: '(min-width: 768px)';
$md-max: '(max-width: 991px)';
$lg-min: '(min-width: 992px)';
$xl-min: '(min-width: 1200px)';

/* Colors */
$text-color: #000000;
$text-invert-color: #ffffff;
$text-light-color: #7e7e7e;
$primary-color: #ffc625;
$secondary-color: #6C7de3;
$background-color: #ffffff;

/* Margin & padding */
$margin-1: .5rem;
$margin-2: 1rem;
$margin-3: 2rem;
$margin-4: 4rem;
$padding-1: .5rem;
$padding-2: 1rem;
$padding-3: 2rem;
$padding-4: 4rem;
