<div>
    <p class="m--0">Copyrights &copy; {{"now"|date('Y')}} by Kerris Group.</p>
    <p class="m--0">All rights reserved.</p>
</div>
<div class="circles__container">
    <span class="circles__item"></span>
    <span class="circles__item"></span>
    <span class="circles__item"></span>
    <span class="circles__item"></span>
</div>
