{% extends "tease.twig" %}

{% block content %}
	<h2 class="article__header">{{post.title}}</h2>
	<div class="article__content">
		{{post.content}}
	</div>
	{% if post.thumbnail.src %}
		<img class="article__img" src="{{post.thumbnail.src}}" alt="Zdjęcie postu">
	{% endif %}
{% endblock %}
